<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Catálogo de Habitaciones</title>
</head>
<body>
    <%- include ../layouts/cabecera.ejs %>  
    <div class="container">
      
        <br/>
        <br/>
        <a href="/habitaciones/crearHabitacion" class="btn btn-primary" type="button">Crear una nueva habitación</a>
        <br/>
        <br/>
        
        
        <div class="row">
            <% for( let habitacion = 0; habitacion < habitaciones.length; habitacion++ ) { %>
                
            <div class="col-sm-3">
                <br>
              <div class="card text-white bg-dark mb-3">
                <img height="200" src="../images/habitaciones/<%=habitaciones[habitacion].fotografia %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> <%=habitaciones[habitacion].nombre %></h5>
                  <p class="card-text"> Tamaño: <%=habitaciones[habitacion].size %> M2.</p>
                  <p class="card-text"> Precio: Q.<%=habitaciones[habitacion].precio %></p>
                  <p class="card-text"> Apartamento: <%=habitaciones[habitacion].NivelName %></p>
                  
                  
                  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <form class="form-inline" method="get" action="/habitaciones/editarHabitacion/<%=habitaciones[habitacion].idHabitacion %>">
                      <button class="btn btn-warning" type="submit">Editar</button>
                    </form>
                  </div>
                  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <form class="form-inline" method="post" action="/habitaciones/eliminar/<%=habitaciones[habitacion].idHabitacion %>">
                      <button class="btn btn-danger" type="submit">Borrar</button>
                    </form>
                  </div>
                  
                </div>
               
              </div>
            </div>
            
                 <% } %>
          </div>
          
    </div>

    <%- include ../layouts/pie.ejs %>   
</body>
</html>