<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Pagos</title>
</head>
<body>
    <%- include ../layouts/cabecera.ejs %> 
    <div class="container">
          
        <br/>
        <br/>
        <a href="pagos" class="btn btn-primary" type="button">Prueba</a>
        <br/>
        <br/>
        
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>TipoAlquiler</th>
                    <th>Nivel</th>
                    <th>Habitación</th>
                    <th>Precio</th>
                    <th>Inquilino</th>
                    <th>fechaIngreso</th>
                    <th>fechaCobro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% for( let pago = 0; pago < pagos.length; pago++ ) { %>
                    <tr>
                        <td> <%=pagos[pago].idAlquiler %> </td>
                        <td> <%=pagos[pago].nombre %> </td>
                        <td> <%=pagos[pago].idNivel %> </td>
                        <td> <%=pagos[pago].idHabitacion %> </td>
                        <td> <%=pagos[pago].precio %> </td>
                        <td> <%=pagos[pago].Inquilino %> </td>
                        <td> <%=pagos[pago].fechaIngreso %> </td>
                        <td> <%=pagos[pago].fechaCobro %> </td>
                        <td> Editar | Borrar </td>
                    </tr>
                <% } %>
                
    
            </tbody>
        </table>
          
    </div>
    <%- include ../layouts/pie.ejs %> 
</body>
</html>